@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@500&display=swap');

*, *::after, *::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://i.pinimg.com/originals/ca/e9/7d/cae97d5669bfd383745460689c21fa8e.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: #E5E5E5;
    font-size: 2em;
    padding-bottom: 20px;
    height: 100%;
}


h1{
    background-image: linear-gradient(90deg, #430345, #f403b8, #03e9f4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.descricao{
    font-size: 19px;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 4em;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.container h3{
    display:flex;
    text-decoration: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.paginaPrincipal{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.databtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#button{
    width: 180px;
    height: 30px;
    margin-left: 30px;
}

#date{
    width: 180px;
    height: 30px;
}


.resultados{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.none{
    display:none;
}

.video{
    width: 800px;
    height: 500px;
}

footer {
    font-size: 1.3rem;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

@media (max-width: 320px) {
.tituloPrincipal {
      font-size: 30px;
  }
.descricao>h2{
    font-size: 25px;
    width: 85%;
}
.containerInputs { 
    flex-direction: column;
    align-items: center;
}
.escolhaData {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 25px;
}
}